/* Progress bar */

 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: #111;
}

main{
    height: 100%;
}



/* 
.progress-bar{
    margin-top: 15%;

}

.status{
    margin-top: 38px;
}

.fill{
    height: 100%;
    width: 0;
    background-color: rgb(34, 206, 106);
}

button{
    padding: 10px 20px;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
} */




/* Toggle button */
/* 
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.elem{
    height: 15%;
    width: 50%;
    background-color: #222;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-radius: 15px;
}

h1{
    font-size: 25px;
    font-weight: 600;
}

button{
    background-color: royalblue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
} */






/* Event Bubbling */

main{
    background: linear-gradient(to right bottom, rgb(22, 22, 22), rgba(0, 0, 0, 0.486));
    padding: 20px;
}

section{
    height: 100%;
    width: 400px;
    /* background-color: black; */
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.reel .bottom{
    padding: 30px 20px;
    background: linear-gradient(black black);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 500%;
    object-fit: cover;
}

.bottom .user h4{
    font-size: 15px;
    font-weight: 500;
}

.bottom > h3{
    font-weight: 500;
    font-size: 20px;
}

.bottom .user button{
    background-color: transparent;
    padding: 2px 6px;
    border: 1px solid white;
    border-radius: 5px;
}

.right{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40px;
    right: 0;
    bottom: 8%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 15px;
    /* transform: translateX(100%); */
    /* background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.16)); */
} 

.right div{
    height: 50px;
    width: 50px;
}

.right i{
    pointer-events: none;
    font-size: 25px;
}

.right h6{
    font-size: 16px;
    pointer-events: none;
}

.right div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.love{
    color: red;
}

.right h4{
    pointer-events: none;
}